$black: #3d463f;
$gray: #878c88;
$lightgray: #d3d3d3;
$white: #fefefe;
$blue: #0e52ce;
$green: #72d687;

/**
 * Buttons
 */

$button-icon-size: 15px;

// $color-hover: saturate(lighten($green, 10%), 20%);
// $color-active: desaturate(darken($green, 20%), 20%);

$button-color-hover: desaturate(darken($green, 20%), 10%);
$button-color-active: fade-out($button-color-hover, 0.5);

$button-background: white;
$button-border: 2px solid yellow;

$button-icon-fill-color: yellow;

/**
 * Progress-bar
 */

$control-bar-default-track-radius: 0px;

$control-progressbar-track-radius: $control-bar-default-track-radius;
$control-progressbar-value-radius: $control-bar-default-track-radius;
$control-progressbar-buffered-radius: $control-bar-default-track-radius;
//$control-progressbar-buffered-track-color: rgba(120, 120, 150, 0.9);
$control-progressbar-buffered-track-color: rgba(255, 255, 255, 0.9);

//$control-progressbar-played-track-color: rgba(212, 205, 10, 0.9);
$control-progressbar-played-track-color: rgba(255, 255, 0, 0.9);
$control-progressbar-unplayed-track-color: #999;

$control-progressbar-handle-color: rgba(255, 255, 0, 1);

$control-progressbar-height: 5px;
$control-progressbar-handle-size: 16px;
$control-progressbar-track-margin: 5px 0 5px 0;
$control-progressbar-handle-margin: -6px 0 0 -8px; // must change if height change
