$black: #3d463f;
$gray: #878c88;
$lightgray: #d3d3d3;
$white: #fefefe;
$blue: #0e52ce;
$green: #72d687;

/**
 * Buttons
 */

$icon-size: 25px;

// $color-hover: saturate(lighten($green, 10%), 20%);
// $color-active: desaturate(darken($green, 20%), 20%);

$color-hover: desaturate(darken($green, 20%), 10%);
$color-active: fade-out($color-hover, 0.5);

/**
 * Progress-bar
 */

// Base colors

$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

// Progress bar

$control-progressbar-width: 100%;

$control-progressbar-handle-color: $shade-10 !default;
$control-progressbar-handle-color-hover: $teal !default;
$control-progressbar-handle-size: 20px !default;

$control-progressbar-track-color: $shade-1 !default;
$control-progressbar-track-height: 10px !default;
