@import '_variables.scss';

//
// Buttons
//
.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton {
    margin: $button-margin;
    padding: $button-padding;
    background: $button-background;
    border: $button-border;
    //border-radius: 100%;
    outline: none;

    &[disabled] {
        opacity: 0.5;
    }

    &.isEnabled {
        cursor: pointer;

        &:hover {
            border-color: $button-color-hover;

            .Icon-shape {
                fill: $button-color-hover;
            }
        }

        &:active {
            border-color: $button-color-active;

            .Icon-shape {
                fill: $button-color-active;
            }
        }
    }

    .mdi-icon {
        display: block;

        fill: $button-icon-fill-color;
    }
}
