/**
 * (WIP) for controlbar
 */

.control-bar {
    display: flex;
    flex-direction: row;
    justify-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        align-items: center;
        &:not(:first-child):not(:last-child) {
            padding-left: 5px;
            padding-right: 5px;
        }
        &:first-child {
            margin-left: 10px;
        }
        &:last-child {
            margin-right: 10px;
        }
    }

    &__button {
    }

    &__select {
    }

    &__progress-label {
        width: 120px;
    }

    &__progress-bar {
        /*this will push aside the other flex-items and the progressbar takes the remaining space!*/
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        /* vertically center the progressbar */
        display: flex;
        align-items: center;

        div {
            margin-left: 10px;
        }
    }
}

/**
.twitter li:not(:last-child):not(.twitter__bird) {
  margin-right: 10px;
}
.twitter li  i:not(.fa-twitter):not(.fa-search):not(.fa-user-circle-o) {
  margin-right: 3px;
}
.twitter li > button {
  font-size: 0.8em;
  border: 0;
  background: rgba(85,172,238 ,1);
  color: #fff;
  border-radius: 100px;
}
 */
