/**
 * (WIP) for controlbar
 */

.control-bar-overlay {
    position: absolute;

    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;

    padding: 5px;

    display: flex;
    flex-direction: column;

    opacity: 0.7;
    transition: opacity 500ms ease-in-out;

    &--active {
        //background-color: black;
        opacity: 1;

        //background: linear-gradient(to bottom, rgba(197,222,234, 0.1) 0%,rgba(138,187,215,0.5) 31%,rgba(6,109,171,1) 100%)

        .control-bar-overlay-top {
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.7) 100%);
        }

        .control-bar-overlay-bottom {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 1) 100%);
        }
    }

    &--hidden {
        //background-color: black;
        opacity: 0;
    }

    &--mini {
        //background-color: black;
    }

    .control-bar-overlay-top {
        flex: 1;
        //border: 1px solid grey;
    }

    .control-bar-overlay-middle {
        flex: auto;
        //border: 1px solid green;
    }

    .control-bar-overlay-bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        //border: 1px solid blue;
    }
}

.control-bar-ctn {
    display: flex;
    flex-direction: column;

    &__progress-bar {
        //background-color: white;
        //height: 60px;
        //width: 100%;
    }

    &__panel {
        height: 30px;
        display: flex;

        button {
            width: 30px;
            height: 30px;
        }

        &__left {
            flex: 1;
            justify-content: flex-start;
            align-items: left;
            //border: 1px dashed red;
            display: flex;
        }
        &__center {
            flex: auto;
            align-items: center;
            display: flex;
        }
        &__right {
            flex: 1;
            justify-content: flex-end;
            align-items: right;
            //border: 1px dashed blue;
            display: flex;
        }
    }
}
