/**
 * (WIP) for controlbar
 */

.control-bar-ctn {
    border: 1px solid white;
    display: flex;
    flex-direction: column;

    &__progress-time {
        font-family: Roboto, sans-serif;
        font-size: 0.75em;
        width: 120px;
    }

    &__progress-bar {
        //background-color: white;
        //height: 60px;
        //width: 100%;
    }
}

/**
.twitter li:not(:last-child):not(.twitter__bird) {
  margin-right: 10px;
}
.twitter li  i:not(.fa-twitter):not(.fa-search):not(.fa-user-circle-o) {
  margin-right: 3px;
}
.twitter li > button {
  font-size: 0.8em;
  border: 0;
  background: rgba(85,172,238 ,1);
  color: #fff;
  border-radius: 100px;
}
 */
