@import '_variables.scss';

//
// Sliders
//

.controls__progress-bar,
.controls__volume-slider {
    position: relative;
    background: $control-progressbar-unplayed-track-color;
    border-radius: $control-progressbar-track-radius;

    &-elapsed,
    &-value {
        background: $gray;
        border-radius: $control-progressbar-value-radius;
    }

    &-seek {
        position: absolute;
        cursor: pointer;
    }

    &-handle {
        position: absolute;
        width: $control-progressbar-handle-size;
        height: $control-progressbar-handle-size;
        background: $control-progressbar-handle-color;
        border-radius: 100%;
        transform: scale(0);
        transition: transform 0.2s;
    }

    &.isSeekable,
    &.isEnabled {
        &:hover {
            .controls__progress-bar-handle,
            .controls__volume-slider-handle {
                transform: scale(1);
            }

            .controls__progress-bar-intent,
            .controls__volume-slider-intent {
                position: absolute;
                background: rgba(0, 0, 0, 0.1);
            }
        }

        .controls__progress-bar-elapsed,
        .controls__volume-slider-elapsed {
            background: $control-progressbar-played-track-color;
        }
    }
}

.controls__progress-bar {
    height: $control-progressbar-height;
    margin: $control-progressbar-track-margin;

    &-time {
        font-family: sans-serif;
        font-size: 0.85em;
        width: 120px;
    }

    &-elapsed {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-buffered {
        height: 100%;
        border-radius: $control-progressbar-buffered-radius;
        background: $control-progressbar-buffered-track-color;
    }

    &-seek {
        top: -6px;
        right: 0;
        bottom: -6px;
        left: 0;
    }

    &-handle {
        top: 0;
        margin: $control-progressbar-handle-margin;
    }

    &.isSeekable {
        &:hover {
            .controls__progress-bar-handle {
                transform: scale(1);
            }

            .controls__progress-bar-intent {
                top: 0;
                left: 0;
                height: 100%;
            }
        }
    }

    &.isLoading {
        opacity: 0.5;
        background: #ccc;
        animation: barLoading 2s infinite;
    }
}

.controls__volume-slider {
    // margin: 10px 0;

    &-value {
        position: absolute;
    }

    &.isHorizontal {
        width: 100px;
        height: 8px;
        transition: width 0.3s, height 0.05s;
    }

    &.isHorizontal &-value {
        height: 100%;
        left: 0;
    }

    &.isHorizontal &-handle {
        margin: -4px 0 0 -8px;
    }

    &.isVertical {
        width: 8px;
        height: 100px;
        transition: width 0.05s, height 0.3s;
    }

    &.isVertical &-value {
        bottom: 0;
        width: 100%;
    }

    &.isVertical &-handle {
        left: 0;
        margin: 0 0 -8px -4px;
    }

    &-seek {
        left: -6px;
        top: 0;
        right: -6px;
        bottom: 0;
    }

    &.isEnabled {
        &:hover {
            .controls__volume-slider-handle {
                transform: scale(1);
            }

            .controls__volume-slider-intent {
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}
