@import '_variables.scss';

$control-bar-radius: 0px;

$control-progressbar-track-radius: $control-bar-radius;
$control-progressbar-value-radius: $control-bar-radius;
$control-progressbar-buffered-radius: $control-bar-radius;
//$control-progressbar-buffered-track-color: rgba(120, 120, 150, 0.9);
$control-progressbar-buffered-track-color: rgba(255, 255, 255, 0.9);

//$control-progressbar-played-track-color: rgba(212, 205, 10, 0.9);
$control-progressbar-played-track-color: rgba(255, 255, 0, 0.9);
$control-progressbar-unplayed-track-color: #999;

$control-progressbar-handle-color: rgba(255, 255, 0, 1);

$control-progressbar-height: 5px;
$control-progressbar-handle-size: 16px;
$control-progressbar-track-margin: 5px 0 5px 0;
$control-progressbar-handle-margin: -6px 0 0 -8px; // must change if height change

//
// Sliders
//

.ProgressBar,
.VolumeSlider {
    position: relative;
    background: $control-progressbar-unplayed-track-color;
    border-radius: $control-progressbar-track-radius;

    &-elapsed,
    &-value {
        background: $gray;
        border-radius: $control-progressbar-value-radius;
    }

    &-seek {
        position: absolute;
        cursor: pointer;
    }

    &-handle {
        position: absolute;
        width: $control-progressbar-handle-size;
        height: $control-progressbar-handle-size;
        background: $control-progressbar-handle-color;
        border-radius: 100%;
        transform: scale(0);
        transition: transform 0.2s;
    }

    &.isSeekable,
    &.isEnabled {
        &:hover {
            .ProgressBar-handle,
            .VolumeSlider-handle {
                transform: scale(1);
            }

            .ProgressBar-intent,
            .VolumeSlider-intent {
                position: absolute;
                background: rgba(0, 0, 0, 0.1);
            }
        }

        .ProgressBar-elapsed,
        .VolumeSlider-value {
            background: $control-progressbar-played-track-color;
        }
    }
}

.ProgressBar {
    height: $control-progressbar-height;
    margin: $control-progressbar-track-margin;

    &-elapsed {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-buffered {
        height: 100%;
        border-radius: $control-progressbar-buffered-radius;
        background: $control-progressbar-buffered-track-color;
    }

    &-seek {
        top: -6px;
        right: 0;
        bottom: -6px;
        left: 0;
    }

    &-handle {
        top: 0;
        margin: $control-progressbar-handle-margin;
    }

    &.isSeekable {
        &:hover {
            .ProgressBar-handle {
                transform: scale(1);
            }

            .ProgressBar-intent {
                top: 0;
                left: 0;
                height: 100%;
            }
        }
    }

    &.isLoading {
        opacity: 0.5;
        background: #ccc;
        animation: barLoading 2s infinite;
    }
}

.VolumeSlider {
    // margin: 10px 0;

    &-value {
        position: absolute;
    }

    &.isHorizontal {
        width: 100px;
        height: 8px;
        transition: width 0.3s, height 0.05s;
    }

    &.isHorizontal &-value {
        height: 100%;
        left: 0;
    }

    &.isHorizontal &-handle {
        margin: -4px 0 0 -8px;
    }

    &.isVertical {
        width: 8px;
        height: 100px;
        transition: width 0.05s, height 0.3s;
    }

    &.isVertical &-value {
        bottom: 0;
        width: 100%;
    }

    &.isVertical &-handle {
        left: 0;
        margin: 0 0 -8px -4px;
    }

    &-seek {
        left: -6px;
        top: 0;
        right: -6px;
        bottom: 0;
    }

    &.isEnabled {
        &:hover {
            .VolumeSlider-handle {
                transform: scale(1);
            }

            .VolumeSlider-intent {
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}
