$animation-delay: 0.5s;
$animation-duration: 1200s;
$animation-iterations: 1s;

.reveal-text,
.reveal-text::after {
    animation-delay: $animation-delay;
    animation-iteration-count: $animation-iterations;
    animation-duration: $animation-iterations;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
    position: relative;
    display: block;
    user-select: none;
    animation-name: reveal-text;
    cursor: default;

    &::after {
        content: '';
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0);
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: revealer-text;
    }

    @keyframes reveal-text {
        from {
            clip-path: inset(0 100% 0 0);
        }
        to {
            clip-path: inset(0 0 0 0);
        }
    }

    @keyframes revealer-text {
        0%,
        50% {
            transform-origin: 0 50%;
        }

        60%,
        100% {
            transform-origin: 100% 50%;
        }

        60% {
            transform: scaleX(1);
        }

        100% {
            transform: scaleX(0);
        }
    }
}
