{
    "presets": [
        [
            "@babel/env",
            {
                //"modules": "commonjs",
                "modules": "auto",
                "useBuiltIns": "usage",
                "corejs": 3,
                "debug": true
            }
        ],
        "@babel/react"
    ],
    "env": {
        "development": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "useBuiltIns": false
                    }
                ]
            ],
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "debug": false,
                        "useBuiltIns": false,
                        "modules": "commonjs",
                        "targets": {
                            "browsers": [
                                "chrome >= 57"
                            ],
                            "node": 10
                        }
                    }
                ]
            ],
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    },
    "plugins": [
        ["@babel/plugin-transform-runtime",
        {
            "corejs": false,
            "helpers": true,
            "regenerator": true,
            "useESModules": false
        }],

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-json-strings",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
