{
    "presets": [
        [
            "@babel/env",
            {
                "modules": "auto",
                "useBuiltIns": "usage",
                "targets": {
                    "browsers": [
                        "chrome >= 60",
                        "firefox >= 56",
                        "safari >= 10.1",
                        "edge >= 15"
                        //"ie >= 11",
                    ]
                },
                "debug": true
            }
        ],
        "@babel/react"
       // For now typescript support in babel is
       // not ready (7.rc1)
       // "@babel/typescript"
    ],
    "env": {
        "development": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "useBuiltIns": false
                    }
                ]
            ],
            "plugins": [
                // For dev
                "react-hot-loader/babel"
            ]
        },
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "modules": "commonjs"
                    }
                ]
            ]
        }
    },
    "plugins": [
        // Runtime
        "@babel/plugin-transform-runtime",

        // Stage 3
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-json-strings",

        // Stage 4
        "@babel/plugin-proposal-object-rest-spread",
    ]
}
