#!/bin/sh

DEPLOY_USER=username
DEPLOY_HOST=example.org
DEPLOY_PATH=/var/www/my_site/public_html

# Build the app
yarn build

# Rsync the thing
rsync -azP --delete --exclude=/assets ./dist/public/ ${DEPLOY_USER}@${DEPLOY_HOST}:{DEPLOY_PATH}


