//$body-bg: #000;

$brown-color: rgb(114, 45, 0);
$brown-color-dark: rgb(49, 20, 0);
$brown-color-light: rgb(156, 57, 0);

$body-bg: black; //rgba($brown-color, 1);
$body-color: #fff;

$primary-font: 'Karla', sans-serif;
//$primary-font: 'Spectral', 'Source Sans Pro', 'Courier New', 'Times New Roman', sans-serif;

$impact-font: $primary-font;

$ui-font: $primary-font;

$form-font: $primary-font;
$subtitle-font: $primary-font;

$yellow-color: #ffff00;

$link-hover-color: $yellow-color;

$appbar-margin-from-window: 30px;
$appbar-margin-from-window-sm: 15px;

$controlbar-margin-from-window: $appbar-margin-from-window;
$controlbar-margin-from-window-sm: $appbar-margin-from-window-sm;

$controlbar-margin-from-window-bottom: $appbar-margin-from-window;
$controlbar-margin-from-window-bottom-sm: $appbar-margin-from-window-sm;

/**
 * If you update, please reflect the changes in main-menu-redirect.ts too
 */
$helix-menu-icon-minimum-width: 650px;
$helix-menu-icon-minimum-height: 400px;

$video-filters: contrast(105%) brightness(105%);

// A map of breakpoints.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;
