//$body-bg: #000;

$brown-color: rgb(114, 45, 0);
$brown-color-dark: rgb(49, 20, 0);
$brown-color-light: rgb(156, 57, 0);

$body-bg: black; //rgba($brown-color, 1);
$body-color: #fff;

//$primary-font: 'Raleway', 'Quicksand', 'Roboto', 'tahoma';
$primary-font: 'Quicksand', sans-serif;
//$secondary-font: 'Raleway';
$handwritten-font: 'Quicksand', 'Shadows Into Light Two', cursive;

$yellow-color: #ffff00;

$link-hover-color: $yellow-color;

// A map of breakpoints.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;
