//$body-bg: #000;

$brown-color: rgb(114, 45, 0);
$brown-color-dark: rgb(49, 20, 0);
$brown-color-light: rgb(156, 57, 0);

$body-bg: black; //rgba($brown-color, 1);
$body-color: #fff;

//$primary-font: 'Karla', 'Lato', 'Eczar', 'Fira Sans', 'Karla', 'Quicksand', 'Roboto', 'Times New Roman', 'tahoma';
//$primary-font: 'Karla', 'Times New Roman', sans-serif;
//$primary-font: 'Spectral', 'Source Sans Pro', 'Courier New', 'Times New Roman', sans-serif;
//$primary-font: 'Source Sans Pro', 'Courier New', 'Times New Roman', sans-serif;
$primary-font: 'EB Garamond', 'Times New Roman', sans-serif;

$impact-font: 'IM Fell English';

$ui-font: 'Karla';

$form-font: 'Karla';

$subtitle-font: 'Karla';

$yellow-color: #ffff00;

$link-hover-color: $yellow-color;

// A map of breakpoints.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;
