@import '~modern-normalize/modern-normalize.css';
//@import '~normalize.css/normalize.css';
@import './_variables.scss';
@import './_media-queries.scss';
@import 'video/video-tracks';
@import 'animation/animations';
@import 'animation/page-transition';

body {
    font-family: $primary-font;
    background-color: $body-bg;
    color: $body-color;

    // FIX FOR BOLDER APPEARANCE ON MAC DUE
    // TO SUBPIXEL RENDERING !!!
    // WARNING THIS HACK IS ONLY TO BE USED ON DARK/BLACK
    // BACKGROUNDS... SUBPIXEL RENDERING DOES NOT WORK WELL
    // ON DARK BACKGROUNDS AND WE DON'T HAVE MUCH OPTIONS.
    // http://www.usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
    // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    -webkit-font-smoothing: antialiased; /* WebKit  */
    font-weight: normal;
}

.fullscreen {
    /* To prevent scrollbar to appear when sidemenu animations are playing */
    overflow: hidden;
}

.window-container {
    width: 100%;
    height: 100vh;
}

.clickable-text {
    &:hover {
        cursor: pointer;
        color: yellow;
    }
}

.full-page-slide-ctn {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .intro-lang-selection {
        text-align: center;
        a {
            text-decoration: none;
            &:visited {
                color: inherit;
            }
            &:hover {
                color: yellow;
            }
        }
    }
}
