RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
# Old resources like like precache-<old-hash>.js
# used by service worker must be returned as 404 if not found
RewriteCond %{REQUEST_FILENAME} !\.(js|css)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]

# DANGER !
# Cache of service-worker.js and index.html are explicitly
# disabled to prevent issues with PWA... Apache must error
# if mod_headers not present.
#
<FilesMatch "(index.html|service-worker.js)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</FilesMatch>
