@import '../_variables.scss';
@import '../_media-queries.scss';

$track-font-family: $primary-font, sans-serif;

//$track-font: 32px sans-serif;
//$track-color: rgba(255, 255, 255, 1);
//$track-color: rgba(255, 249, 61, 1);
$track-color: yellow;
//$track-color: rgba(255, 255, 255, 1);
$track-background-color: rgba(0, 0, 0, 0);
//$track-text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$track-text-shadow: 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000;
//$track-text-shadow:  none;

$track-padding-bottom: 20px;

video {
    &::-webkit-media-text-track-container {
        overflow: visible !important;
        // -webkit-transform: translateY(40%) !important;
        // max-height: calc(100% - #{$track-padding-bottom});
        -webkit-transform: translateY(-40px) !important;
        transform: translateY(-40px) !important;

        overflow: hidden;
        text-align: center;
        color: $track-color;
        text-shadow: $track-text-shadow;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: unset;

        text-indent: 0;
        text-decoration: none;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        line-height: normal;
        word-break: break-word;

        position: relative;
    }

    &::-webkit-media-text-track-display {
        position: relative;
        overflow: hidden;
        white-space: pre-wrap;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transform: none;
        /* Ensure captions aren't cropped when the pseudo element's width cannot accommodate all the text */
        min-width: -webkit-min-content;
    }

    &::cue {
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        pointer-events: none;
        background-color: $track-background-color;
        color: $track-color;
        line-height: normal;
        white-space: pre-wrap;
        //transform: translateY(-200px);
        text-shadow: $track-text-shadow;
        padding-bottom: $track-padding-bottom;
    }

    &::cue,
    &::-webkit-media-text-track-display {
        @include media-breakpoint-between(xs, sm) {
            font: 1rem #{$track-font-family};
        }

        @include media-breakpoint-up(sm) {
            font: 1.5rem #{$track-font-family};
        }

        @include media-breakpoint-up(xl) {
            font: 1.8rem #{$track-font-family};
        }
    }

    &::cue(:future) {
        color: gray;
    }
}

/**
 * WIP for cross-browser subtitles
 * see also: last comment in https://stackoverflow.com/questions/32252337/how-to-style-text-tracks-in-html5-video-via-css/32254984
 */

/*
.chrome {
    video::cue {
        font-size: 24px;
        opacity: 1;
        background-color: black;
        -webkit-transform: translateY(10%) !important;
        transform: translateY(10%) !important;
    }

    video::-webkit-media-text-track-display {
        overflow: visible !important;
        -webkit-box-sizing: border-box;
        background: black;
        padding: 8px;
        border-radius: 16px;
    }

    video::-webkit-media-text-track-container {
        overflow: visible !important;
        -webkit-transform: translateY(40%) !important;
        transform: translateY(40%) !important;
        position: relative;
    }
}

.safari {
    video::cue {
        font-size: 24px;
        opacity: 1;
        background-color: black;
    }

    video::-webkit-media-text-track-display-backdrop {
        background-color: black !important;
        overflow: visible !important;
    }

    video::-webkit-media-text-track-display {
        overflow: visible !important;
        -webkit-box-sizing: border-box;
    }

    video::-webkit-media-text-track-container {
        overflow: visible !important;
        -webkit-transform: translateY(20%) !important;
        transform: translateY(20%) !important;
        position: absolute;
    }
}
*/
