@import '../variables';

//
// Buttons
//

.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton,
.SubtitlesButton {
    margin: $button-margin;
    padding: $button-padding;
    background: $button-background;
    border: $button-border;
    //border-radius: 100%;
    outline: none;

    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }

    &.isEnabled {
        cursor: pointer;

        &:hover {
            border-color: $button-color-hover;

            svg.mdi-icon {
                fill: $button-color-hover;
            }
        }

        &:active {
            border-color: $button-color-active;
            svg.mdi-icon {
                fill: $button-color-active;
            }
        }
    }

    &.isActive {
        .mdi-icon {
            display: block;
            fill: #feff9a;
            //background: linear-gradient(#e66465, #9198e5);
            //background-color: rgba(yellow, 0.4);
        }
    }

    .mdi-icon {
        display: block;
        fill: $button-icon-fill-color;
    }
}
