@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

$title-font: '#{$primary-font}', sans-serif;
$subtitle-font: $handwritten-font;

$padding-top: 30px;

.about-container {
    display: flex;
    flex: 1;
    align-items: normal;
    flex-direction: column;

    .fullsize-video-bg {
        flex: 1 1 auto;
    }

    img {
        display: block;
        background: #735644; // to make to logo background in brown
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .fullsize-video-bg-inner {
        width: 70vw;
        @include media-breakpoint-down(sm) {
            width: 100vw;
        }

        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: $padding-top;
        max-height: 100vh;
        //max-height: calc(100vh - #{$padding-top});

        .markdown {
            flex: 1 1 auto;
            padding: 2em 2em;
            text-align: center;
            h1,
            h2 {
                //mix-blend-mode: difference;
                font-family: $title-font;
                font-size: 2.2em;
                line-height: 0.9;
                font-weight: 800;
                //letter-spacing: -0.025em;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0.5em;
                opacity: 0.4;
                text-shadow: 8px 8px 8px rgba($brown-color-dark, 0.7);
                //-webkit-text-stroke: 1px rgba(white, 0.3);
                //-webkit-text-fill-color: rgba(white, 0.1);
                mix-blend-mode: overlay;
            }
            h2 {
                font-size: 1.7em;
                font-family: $handwritten-font;
                text-transform: none;
            }
            h2 + p {
                font-family: $subtitle-font;
                font-size: 1.5em;
                font-weight: 400;
                opacity: 0.9;
            }
        }
    }
}
