@import '../../styles/_variables.scss';

$title-font: '#{$primary-font}', sans-serif;
$subtitle-font: 'Shadows Into Light Two', cursive;

// taken from https://codepen.io/zitrusfrisch/pen/vymGI

#fullsize-video-viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    video {
        display: block;
        object-fit: cover; // Set the magic
        height: 100%;
        width: 100%;
    }
}

.fullsize-video-bg {
    height: 100%;
    overflow: hidden;
    background: rgba(114, 45, 0, 0.6);
    &:before {
        content: '';
        background: rgba(114, 45, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    &:after {
        content: '';
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgTWFjaW50b3NoIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjI4RkZBQTgzNzg1NzExRTU4NTQyODc3OUM4MTZGMUREIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjI4RkZBQTg0Nzg1NzExRTU4NTQyODc3OUM4MTZGMUREIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjhGRkFBODE3ODU3MTFFNTg1NDI4Nzc5QzgxNkYxREQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjhGRkFBODI3ODU3MTFFNTg1NDI4Nzc5QzgxNkYxREQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz66uHInAAAAIUlEQVR42mL5//8/AyMj42YGIGBigABfEMEIkoEBgAADAKvuBwVS8BAjAAAAAElFTkSuQmCC);
        background-size: 3px 2px;
        position: absolute;
        opacity: 0.6;
        // mix-blend-mode: color-burn;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .fullsize-video-inner {
        display: table;
        width: 100%;
        max-width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative;
        z-index: 2;

        > div {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            padding: 0 2em;
            h1 {
                //mix-blend-mode: difference;
                font-family: $title-font;
                font-size: 3em;
                line-height: 0.9;
                font-weight: 800;
                //letter-spacing: -0.025em;
                text-transform: uppercase;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                opacity: 0.4;
                text-shadow: 8px 8px 8px rgba($brown-color-dark, 0.7);
                //-webkit-text-stroke: 1px rgba(white, 0.3);
                //-webkit-text-fill-color: rgba(white, 0.1);
                mix-blend-mode: overlay;
            }
            h1 + p {
                font-family: $subtitle-font;
                font-size: 1.5em;
                font-weight: 400;
                opacity: 0.9;
            }
            h3 {
                font-family: $subtitle-font;
                font-size: 1.5em;
                opacity: 0.9;
                font-weight: 400;
                margin: 0;
                padding: 0;
                line-height: 0.9;
            }
        }
    }
}
