@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

$title-font: $impact-font;

$title-color: $yellow-color;
$title-opacity: 0.7;

.home-container {
    margin-bottom: 150px;
    img.logo-contredanse {
        // disabled for expo
        display: none;
        position: fixed;
        bottom: 35px;
        align-self: center;
        z-index: 1000;

        opacity: 0.45;
        width: 35px;
        @include media-breakpoint-down(sm) {
            bottom: 25px;
            width: 25px;
        }

        &:active,
        &:visited {
            opacity: 0.45;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    .fullsize-video-bg {
        flex: 1 1 auto;
        .fullsize-video-bg-viewport {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;

            video {
                opacity: 0.9;
                max-width: 620px;
                object-fit: scale-down;
                transform: translateY(90px);
                filter: contrast(120%);
                @include media-breakpoint-down(sm) {
                    transform: translateY(90px);
                    object-fit: scale-down;
                    max-width: 80vw;
                }

                @media screen and (max-height: 500px) {
                    max-width: 300px;
                }

                @media screen and (max-height: 400px) {
                    display: none;
                }
            }
        }
    }

    .fullsize-video-bg-inner {
        align-items: flex-start;
        flex-direction: row;
        text-align: center;

        > div {
            //border: 1px solid blue;
            flex: 1 1 auto;
            margin-top: 27vh;
            user-select: none;
            padding: 0 2em;

            &:focus {
                outline: none;
            }

            h1 {
                transition: all 0.2s ease-in-out;
                //mix-blend-mode: difference;
                font-family: $impact-font;
                font-size: 3.2em;
                line-height: 1.3em;
                font-weight: 500;

                letter-spacing: 0.035em;
                text-transform: uppercase;
                margin: 0;
                padding: 0;

                @include media-breakpoint-down(sm) {
                    margin: 0;
                    font-size: 2.3em;
                }

                color: $link-hover-color;
                opacity: 0.7;
                &:focus {
                    outline: none;
                }
            }
            h1 + p {
                margin: 0.5em;
                padding: 0;

                font-family: $primary-font;
                font-size: 1.4em;
                font-weight: 400;
                opacity: 0.9;
                &:focus {
                    outline: none;
                }

                @include media-breakpoint-down(sm) {
                    margin: 0.25em 0;
                    font-size: 1.1em;
                }
            }
            h3 {
                font-family: $primary-font;
                font-size: 1.4em;
                color: white;
                opacity: 0.9;
                font-weight: 400;
                margin: 0.5em;
                padding: 0;
                &:focus {
                    outline: none;
                }

                @include media-breakpoint-down(sm) {
                    margin: 0.25em 0;
                    font-size: 1.1em;
                }
            }
        }
    }

    .home-container-text-panel {
        .reveal-text {
            cursor: pointer;
        }

        &:hover {
            cursor: pointer;
            h1 {
            }
            a {
                color: $yellow-color;
            }
        }
    }

    .lang-selector-panel {
        position: fixed;
        right: $appbar-margin-from-window;
        top: $appbar-margin-from-window;
        margin-top: 8px;
        @include media-breakpoint-down(sm) {
            right: $appbar-margin-from-window-sm;
            top: $appbar-margin-from-window-sm;
            margin: 4px;
        }
        opacity: 0.8;
        color: white;
        font-size: 1em;
        cursor: pointer;
        user-select: none;
        z-index: 5500;
        &:hover {
            opacity: 1;
            color: $link-hover-color;
        }
    }
}
