@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

$title-font: '#{$primary-font}', sans-serif;
$secondary-title-font: $handwritten-font;

$title-color: $yellow-color;
$title-opacity: 0.8;

.home-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    .fullsize-video-bg {
        flex: 1 1 auto;

        @include media-breakpoint-down(sm) {
            // flex: 0 1 auto;
        }
    }
    .fullsize-video-bg-inner {
        @include media-breakpoint-down(sm) {
            //height: 60vh;
        }

        align-items: center;
        flex-direction: row;
        text-align: center;
        > div {
            flex: 1 1 auto;
            @include media-breakpoint-down(sm) {
                // margin-top: 5em;
            }

            padding: 0 2em;
            h1 {
                //mix-blend-mode: difference;
                font-family: $title-font;
                font-size: 3em;
                line-height: 0.9;
                font-weight: 500;
                //letter-spacing: -0.025em;
                text-transform: uppercase;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                text-shadow: 8px 8px 8px rgba($brown-color-dark, 0.7);
                //-webkit-text-stroke: 1px rgba(white, 0.3);
                //-webkit-text-fill-color: rgba(white, 0.1);
                mix-blend-mode: overlay;
                color: $title-color;
                opacity: $title-opacity;
            }
            h1 + p {
                font-family: $secondary-title-font;
                font-size: 1.5em;
                font-weight: 400;
                opacity: 0.9;
            }
            h3 {
                font-family: $secondary-title-font;
                font-size: 1.5em;
                color: white;
                opacity: 0.9;
                font-weight: 400;
                margin: 0;
                padding: 0;
                line-height: 0.9;
            }
        }
    }

    .lang-selector-panel {
        position: fixed;
        right: 30px;
        bottom: 30px;
        color: white;
        font-size: 1em;
        cursor: pointer;
        user-select: none;
        &:hover {
            text-decoration: underline;
            color: $link-hover-color;
        }
    }
}

/*
// Credits: https://codepen.io/wentin/pen/nHAkG

// <div className="outer">
// <div className="mask">
// <div className="ring"></div>
// </div>
// </div>


.outer {
    width: 220px;
    height: 220px;
    margin: 10px auto;
    position:relative;
    border-radius: 110px;
    border: solid 1px #ffffff;
}
.mask {
    position:absolute;
    top: 55px;
    width: 220px;
    height: 110px;
    overflow: hidden;
    transition: all 0.6s ease;
}
.outer:hover .mask {
    transform:rotate(270deg);
    height: 220px;
    top: 0;
}
.ring {
    position: absolute;
    top:-55px;
    width: 200px;
    height: 200px;
    border: solid 10px rgba(white, 0.4);
    border-radius: 120px;
    transition: all 0.6s ease;
}

.outer:hover .ring {
    top: 0px;
}

*/

/*

// Credits: https://codepen.io/danielsitek/pen/reoJqK

.social-button {
    display: inline-block;
    border-radius: 50%;
    background-color: #8c8c8c;
    background-color: rgba(140,140,140,0.75);
    color: #fff;
    border: 0 none;
    padding: 0;
    text-align: center;
    width: 3em;
    height: 3em;
    line-height: 3em;
    position: relative;
    transition: all 0.25s ease-in-out;
}
.social-button:hover {
    background-color: #e44848;
    color: #fff;
}
.social-button:hover:before {
    -webkit-animation: social-button-beat 1.5s ease-out infinite;
    animation: social-button-beat 1.5s ease-out infinite;
}
.social-button:hover:after {
    -webkit-animation: social-button-beat 1.5s ease-out 0.4s infinite;
    animation: social-button-beat 1.5s ease-out 0.4s infinite;
}
.social-button:before,
.social-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #e44848;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}
@-webkit-keyframes social-button-beat {
    0% {
        opacity: 0.8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}
@keyframes social-button-beat {
    0% {
        opacity: 0.8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}
*/
