@import '../../styles/_variables.scss';

:root {
    --animation-delay: 2s;
    --duration: 800ms;
    --iterations: 1;
}

.reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay);
    animation-iteration-count: var(--iterations);
    animation-duration: var(--duration);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
    position: relative;
    font-size: 2.4vw;
    font-weight: bold;
    display: block;
    user-select: none;
    animation-name: reveal-text;
    color: #fff;
    white-space: nowrap;
    cursor: default;

    &::after {
        content: '';
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f2f98b;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: revealer-text;
    }
}

@keyframes reveal-text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes revealer-text {
    0%,
    50% {
        transform-origin: 0 50%;
    }

    60%,
    100% {
        transform-origin: 100% 50%;
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}
