@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

//$font: $handwritten-font;
$breadcrumb-font: $primary-font;

ul.page-breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
    }

    a {
        font-family: $breadcrumb-font;
        font-size: 2vw;
        padding: 1vw 1vh;

        @include media-breakpoint-down(sm) {
            font: 3.3vw $handwritten-font;
        }

        display: inline-block;

        color: rgba(white, 0.9);
        text-align: center;
        text-decoration: none;
        font-weight: normal;

        .title {
            user-select: none;
            pointer-events: none;
        }

        &:hover {
            background-color: rgba(white, 0.1);
        }
    }
}
