/**
example
 */

.page-list-wrapper {
    /*
    margin: 0 auto;
    width: 100%;
    */
    .grid-cards {
        list-style: none;
        margin: 5px;
        padding: 0;
        display: grid;
        //grid-template-columns: repeat(5,1fr);
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        //grid-template-columns: repeat(auto-fill, minmax(200px 1fr));
        grid-gap: 15px;
        .page-card-container {
            position: relative;
            color: #fff;
            transition: 700ms filter ease-in-out;
            min-height: 150px;
            max-height: 250px;
        }
    }

    .fade-enter {
        opacity: 0.1;
        transform: scaleY(0.1) scaleX(0.95);
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
        transition: transform 300ms ease-in, opacity 700ms ease-in;
    }

    .fade-appear {
        opacity: 0.2;
        transform: scaleY(0.4) scaleX(0.4);
    }

    .fade-appear.fade-appear-active {
        opacity: 0.9;
        transform: scaleY(1) scaleX(1);
        transition: transform 200ms ease-in, opacity 600ms linear;
    }

    .fade-exit {
        //opacity: 0.9;
    }

    .fade-exit.fade-exit-active {
        opacity: 0.01;
        transform: scaleY(0) scaleX(0);
        transition: all 350ms ease-in;
    }
}
