@import '../../styles/_variables.scss';

.page-playback-overlay {
    position: absolute;

    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80px;

    padding: 5px;

    display: flex;
    flex-direction: column;

    opacity: 0.7;
    background-color: rgba(blue, 0.7);
    transition: opacity 1500ms ease-in-out;

    &--active {
        //background-color: black;
        z-index: 1200;
        opacity: 0.9;

        //background: linear-gradient(to bottom, rgba(197,222,234, 0.1) 0%,rgba(138,187,215,0.5) 31%,rgba(6,109,171,1) 100%)
        .page-playback-overlay-top {
            //background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.7) 100%);
        }

        .page-playback-overlay-bottom {
            //background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 1) 100%);
        }
    }

    &--hidden {
        //background-color: black;
        opacity: 0;
    }

    &--mini {
        //background-color: black;
    }

    .page-playback-overlay-top {
        flex: 1;
        //border: 1px solid grey;
    }

    .page-playback-overlay-middle {
        flex: auto;
        //border: 1px solid green;
        display: flex;
        position: relative;
        padding: 0px 60px;

        .action-item {
            flex: 1 1 100%;
            display: flex;
            padding: 15px;
            position: relative;
            //border: 1px solid pink;
            &:hover {
                cursor: pointer;
                .page-card-container {
                    border: 1px solid yellow;
                }
            }
            .page-card-container {
                flex: 1 1 100%;
                border: 1px solid rgba(white, 0);
                text-align: left;
            }
            .action-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                div {
                    border: 1px solid white;
                    padding: 5px;
                    background-color: rgba(yellow, 0.6);
                }
            }
        }
    }

    .page-playback-overlay-bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        //border: 1px solid blue;
    }
}
