@import '../../styles/_variables.scss';

$header-section-height: 20px;

$page-content-padding: 0;
$page-header-padding: $page-content-padding;

// Till object-fit: contains works on all browsers...
// we use this flex trick to make the video layout

.autoscale-video-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .autoscale-video-wrapper {
        width: 100%;
        max-height: 100%;
        //border: 1px solid blue;
        //height: 100%;
        flex-basis: 100%; // vertical space used: 100%
    }
    .autoscale-video-content {
        //background-color: #ccffcc;
        position: relative;

        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            //          height: auto !important;
            //          max-height: 100%;
        }
    }
}

.page-wrapper {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    height: 100%;
    max-height: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.page-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    position: relative;

    .page-header {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;
        margin-left: 10px;
        padding: $page-header-padding;
    }

    .page-content {
        flex: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: $page-content-padding;

        .page-multi-video-layout {
            flex: auto;
            display: grid;

            grid-template-areas:
                'multi-video-band'
                'audio-subs-band';
            grid-template-rows: 1fr minmax(170px, 20%);

            > .panel-multi-video {
                grid-area: multi-video-band;
            }

            > .panel-audio-subs {
                grid-area: audio-subs-band;
            }

            .panel-audio-subs {
                max-height: 100%;
                //border: 5px solid pink;
                video {
                    object-fit: initial;
                    max-height: 100%;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .page-single-video-layout {
            flex: auto;
        }
    }
    .page-footer {
        //height: auto;
        //grid-area: footer;
        position: relative;
        padding: 0.75em;
        //padding: 0;
    }
}

.page-overlay {
    position: absolute;

    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80px;

    padding: 5px;

    display: flex;
    flex-direction: column;

    opacity: 0.7;
    transition: opacity 500ms ease-in-out;

    &--active {
        //background-color: black;
        z-index: 1200;
        opacity: 0.9;

        //background: linear-gradient(to bottom, rgba(197,222,234, 0.1) 0%,rgba(138,187,215,0.5) 31%,rgba(6,109,171,1) 100%)
        .page-overlay-top {
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.7) 100%);
        }

        .page-overlay-bottom {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 1) 100%);
        }
    }

    &--hidden {
        //background-color: black;
        opacity: 0;
    }

    &--mini {
        //background-color: black;
    }

    .page-overlay-top {
        flex: 1;
        //border: 1px solid grey;
    }

    .page-overlay-middle {
        flex: auto;
        //border: 1px solid green;
    }

    .page-overlay-bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        //border: 1px solid blue;
    }
}
