@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

.page-list-wrapper {
    background-color: black;
    margin-left: $appbar-margin-from-window;
    margin-right: $appbar-margin-from-window;
    margin-top: 2px;
    @include media-breakpoint-down(sm) {
        margin-left: $appbar-margin-from-window-sm;
        margin-right: $appbar-margin-from-window-sm;
    }

    .grid-cards {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        //grid-template-columns: repeat(5,1fr);
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 15px;

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        @include media-breakpoint-down(xs) {
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            grid-gap: 5px;
        }

        .page-card-container {
            position: relative;
            color: #fff;
            transition: 700ms filter ease-in-out;
            min-height: 150px;
            max-height: 250px;
        }
    }

    .fade-enter {
        opacity: 0.1;
        transform: scaleY(0.1) scaleX(0.95);
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
        transition: transform 300ms ease-in, opacity 700ms ease-in;
    }

    .fade-appear {
        opacity: 0.2;
        transform: scaleY(0.4) scaleX(0.4);
    }

    .fade-appear.fade-appear-active {
        opacity: 0.9;
        transform: scaleY(1) scaleX(1);
        transition: transform 200ms ease-in, opacity 600ms linear;
    }

    .fade-exit {
        //opacity: 0.9;
    }

    .fade-exit.fade-exit-active {
        opacity: 0.01;
        transform: scaleY(0) scaleX(0);
        transition: all 350ms ease-in;
        transition-property: transform, filter, opacity;
    }
}
