$overlay-top-margin: 60px;

.page-overlay-viewport {

  position: fixed;
  top: $overlay-top-margin;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;

  //height: calc(100vh - #{$overlay-top-margin});

  z-index: 1000;

  overflow: hidden;
  display: flex;
  background-color: black;

  .page-overlay-ctn {
    .top-bar {
      float: right;
      position: relative;
      margin-top: 10px;
      margin-right: 10px;
      overflow: hidden;
      .close-button {

      }
    }
    width: 100%;
    overflow-y: auto;
  }
}