@import '../../styles/_variables.scss';

$header-section-height: 20px;

$page-content-padding: 0;
$page-header-padding: $page-content-padding;

// Till object-fit: contains works on all browsers...
// we use this flex trick to make the video layout

.autoscale-video-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .autoscale-video-wrapper {
        width: 100%;
        max-height: 100%;
        //border: 1px solid blue;
        //height: 100%;
        flex-basis: 100%; // vertical space used: 100%
    }
    .autoscale-video-content {
        //background-color: #ccffcc;
        position: relative;

        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            //          height: auto !important;
            //          max-height: 100%;
        }
    }
}

.page-wrapper {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    height: 100%;
    max-height: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.page-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    position: relative;

    .page-header {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;
        margin-left: 10px;
        padding: $page-header-padding;
    }

    .page-content {
        flex: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: $page-content-padding;

        .page-multi-video-layout {
            flex: auto;
            display: grid;

            grid-template-areas:
                'multi-video-band'
                'audio-subs-band';
            grid-template-rows: 1fr minmax(170px, 20%);

            > .panel-multi-video {
                grid-area: multi-video-band;
            }

            > .panel-audio-subs {
                grid-area: audio-subs-band;
            }

            .panel-audio-subs {
                max-height: 100%;
                //border: 5px solid pink;
                video {
                    object-fit: initial;
                    max-height: 100%;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .page-single-video-layout {
            flex: auto;
        }
    }
    .page-footer {
        //height: auto;
        //grid-area: footer;
        position: relative;
        padding: 0.75em;
        //padding: 0;
    }
}
