@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

//$font: $handwritten-font;
$breadcrumb-font: $primary-font;
//$bg-gradient-color: $brown-color;

$bg-gradient-color: black;
ul.page-breadcrumb {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to top,
        rgba($bg-gradient-color, 0.01) 0%,
        rgba($bg-gradient-color, 0.4) 60%,
        rgba($bg-gradient-color, 0.7) 100%
    );

    li {
        float: left;
    }

    a {
        font-size: 2vw;
        padding: 1vh 0.5vw;

        @include media-breakpoint-down(sm) {
            padding: 1vh 0.4vw;
            font-size: 3.4vw;
        }

        &:not(.title):after {
            content: '>>';
            padding-left: 1vw;
        }
        font-family: $breadcrumb-font;

        text-shadow: 1px 1px 1px rgba(black, 0.4);
        -webkit-text-stroke: 1px rgba(black, 0.5);

        //-webkit-text-fill-color: rgba(white, 0.1);

        display: inline-block;

        color: rgba(white, 0.9);
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        cursor: default;

        .title {
            user-select: none;
            pointer-events: none;
        }

        &:hover:not(.title) {
            background-color: rgba(white, 0.1);
            cursor: pointer;
        }
    }
}
