.page-card-container {
    position: relative;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(black, 0.7);
    background-blend-mode: lighten;
    background-size: cover;

    transition: 700ms filter ease-in-out;
    min-height: 150px;
    max-height: 250px;
    &:hover {
        cursor: pointer;
        //filter: drop-shadow(3px 3px 5px grey)
        //filter: contrast(130%);
        filter: contrast(130%) drop-shadow(0 0 1px yellow);
        //box-shadow: 0 1px 2px yellow;
    }

    .page-card-description-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .page-title {
            background-color: rgba(black, 0.3);
            margin: 0;
            color: white;
            padding-left: 10px;
            font-size: 0.9em;
            font-weight: normal;
            line-height: 1.7em;
        }
        .page-duration {
            position: absolute;
            padding-left: 10px;
            bottom: 5px;
            left: 0;
            font-size: 0.7em;
            font-weight: normal;
        }
    }

    .page-card-thumbnails-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        //  border: 1px solid blue;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);

        &:hover {
        }

        .thumbnails-container {
        }

        div {
            position: relative;
            //border: 1px solid red;
            margin-top: 1em;
            margin-right: 5px;
            flex: 1 1 10px;
            text-align: center;
            //
            img {
                position: relative;
                max-width: 100%;
                //height: 20px;
                object-fit: cover;
                //border: 1px solid white;
                //background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
