@import '../../styles/_variables.scss';

$footer-section-height: 20px;
$header-section-height: 60px;

.page-wrapper {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    height: 100%;
    max-height: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.page-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;

    .page-header {
        padding: 0.75em;
        height: $footer-section-height;
    }

    .page-content {
        flex: auto;
        text-align: center;
        display: flex;
        //align-items: center;
        justify-content: center;
        background-color: black;

        .page-multi-video-layout {
            flex: auto;
            display: grid;
            grid-template-areas:
                'video-wall'
                'audio-subs';
            /* hack to prevent horizontal scrolling */
            max-width: 95%;
            grid-template-rows: 1fr 15%;

            .page-video-wall {
                grid-area: video-wall;
                display: flex;
                flex-direction: row;
                //                justify-content: space-between;
                width: 100%;
                margin: 0 -5px;

                div.video-link {
                    margin: 0 5px;
                    flex: 1;
                    video {
                        height: auto;
                        border: 1px solid yellow;
                        &:hover {
                            filter: contrast(115%) drop-shadow(2px 2px 5px yellow);
                            cursor: pointer;
                        }
                    }
                }
            }

            .page-audio-subs {
                grid-area: audio-subs;
                max-height: 100%;
                video {
                    object-fit: initial;
                    max-height: 100%;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .page-single-video-layout {
            flex: auto;
            padding: 0.75em;

            // Till object-fit: contains works on all browsers...
            // we use this flex trick to make the video layout

            .autoscale-video-container {
                height: 100%;
                display: flex;
                flex-direction: column;

                .autoscale-video-wrapper {
                    width: 100%;
                    flex-basis: 100%; // vertial space used: 100%
                }

                .autoscale-video-content {
                    //background-color: #ccffcc;
                    position: relative;
                    video {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .page-footer {
        //height: auto;
        //grid-area: footer;
        padding: 0.75em;
    }
}

/**
 * WIP for cross-browser subtitles
 */

$track-font: 32px Roboto;
//$track-font: 32px sans-serif;
//$track-color: rgba(255, 255, 255, 1);
//$track-color: rgba(255, 249, 61, 1);
$track-color: yellow;
//$track-color: rgba(255, 255, 255, 1);
$track-background-color: rgba(0, 0, 0, 0);
//$track-text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$track-text-shadow: 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000;
//$track-text-shadow:  none;

video::-webkit-media-text-track-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 15px;
    //margin-bottom: 5px;
    text-align: center;
    color: $track-color;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: unset;

    text-shadow: $track-text-shadow;

    text-indent: 0;
    text-decoration: none;
    pointer-events: none;
    -webkit-user-select: none;
    word-break: break-word;
    //flex: 1 1;
    -webkit-flex: 1 1;
    -webkit-line-box-contain: block inline-box replaced;
}

video::-webkit-media-text-track-display {
    position: absolute;
    overflow: hidden;
    white-space: pre-wrap;
    -webkit-box-sizing: border-box;
    font: $track-font;
}

video::cue {
    background-color: $track-background-color;
    font: $track-font;
    color: $track-color;
    text-shadow: $track-text-shadow;
}

/*
video::cue(:future) {
    color: gray;
}*/
