@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

.add-to-homescreen-container {
    align-self: center;
    justify-self: center;
    position: fixed; //fixed is absolute to a browser
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 100000;
    padding: 15px;
    border: 1px solid white;
    left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
}
