@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

$transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;

$default-margin: 15px;

.a2hs-container {
    display: flex;
    align-self: center;
    justify-self: center;
    position: fixed;
    bottom: 0;
    color: white;
    z-index: 100000;
    right: $default-margin;
    margin-bottom: $default-margin;
    transform: translateY(100px);
    opacity: 0;

    transition: $transition;
    &.a2hs-container-entered {
        transform: translateY(0px);
        opacity: 1;
    }

    &.a2hs-container-exited {
        opacity: 0;
    }
}
