.video-player-ctn {
    width: 100%;
    display: flex;
    max-height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

//@import "~video-react/styles/scss/variables";

$video-react-primary-foreground-color: #fff !default;

// Control backgrounds (control bar, big play, menus)
$video-react-primary-background-color: #2b333f !default;
$video-react-primary-background-transparency: 0.7 !default;

// Hover states, slider backgrounds
$video-react-secondary-background-color: lighten($video-react-primary-background-color, 33%) !default;
$video-react-secondary-background-transparency: 0.5 !default;

$video-react-text-font-family: serif, Times, 'Times New Roman' !default;

$video-react-big-play-button-width: 3em !default;
$video-react-big-play-button-height: 1.5em !default;
$video-react-big-play-button-transparency: 0.8 !default;

@import '~video-react/styles/scss/mixins';
@import '~video-react/styles/scss/icons';
@import '~video-react/styles/scss/layout';
@import '~video-react/styles/scss/components/button';
@import '~video-react/styles/scss/components/loading-spinner';
@import '~video-react/styles/scss/components/big-play-button';
@import '~video-react/styles/scss/components/menu/menu';
@import '~video-react/styles/scss/components/menu/menu-popup';
@import '~video-react/styles/scss/components/menu/menu-inline';
@import '~video-react/styles/scss/components/poster';
@import '~video-react/styles/scss/components/slider';
@import '~video-react/styles/scss/components/control';
@import '~video-react/styles/scss/components/control-bar';
@import '~video-react/styles/scss/components/progress';
@import '~video-react/styles/scss/components/play-pause';
@import '~video-react/styles/scss/components/fullscreen';
@import '~video-react/styles/scss/components/time';
@import '~video-react/styles/scss/components/volume';
@import '~video-react/styles/scss/components/playback-rate';
@import '~video-react/styles/scss/components/bezel';

.video-react {
    width: 80%;
    max-height: 90%;
    //padding-top: 0px;
    .video-react-video {
    }
}
