@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

.search-box-ctn {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .search {
        background: #eaeaea;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        height: 27px;
        font-size: 0.9em;
        line-height: 0.9em;
        outline: none;
        padding-left: 7px;
        margin-bottom: 5px;
        //width: 100%;
    }
}
