@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

.welcome-container {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    height: 100%;
    font-size: 1em;
    border: 1px solid green;

    .welcome-container-inner {
        flex-grow: 1;

        display: flex;
        border: 1px solid blue;
        align-items: center;
        justify-content: center;
    }
}
