@import '../../styles/_variables.scss';
@import '../../styles/_media-queries.scss';

.welcome-container {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    height: 100%;
    font-size: 1em;

    .welcome-container-inner {
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        .login-form {
            background: black;
            color: white;

            h2 {
                color: grey;
            }

            p {
                color: #848484;
                color: white;
            }
        }
    }
}
