# This is the default .env configuration file suitable for production
# See webpack.dev.js and webpack.prod.js to know how it's loaded...

# Without ending slash
PUBLIC_URL=https://www.materialforthespine.com

# This is where are stored VIDEOS, SUBTITLES, IMAGES URL...
# For production:
ASSETS_BASE_URL=https://www.materialforthespine.com/assets

# For development (because cors matters here)
# ASSETS_BASE_URL=https://assets.materialforthespine.com

API_BASE_URL=https://app.materialforthespine.com/api

RESET_PASSWORD_URL=https://contredanse.org/wp-login.php?action=lostpassword
MY_ACCOUNT_URL=https://contredanse.org/my-account/orders/
SHOP_SUBSCRIPTION_URL=https://contredanse.org/product/web-app-material-for-the-spine/

# SOCIAL
SOCIAL_MEDIA_PICTURE=https://www.materialforthespine.com/static/social/mfts-social.jpg

