# This is the default .env configuration file suitable for production
# See webpack.dev.js and webpack.prod.js to know how it's loaded...

# Without ending slash
PUBLIC_URL=https://www.materialforthespine.com
ASSETS_BASE_URL=https://www.materialforthespine.com/assets

API_BASE_URL=https://app.materialforthespine.com/api

RESET_PASSWORD_URL=https://www.contredanse.org/contredanseV4/templates/index.php?path=authenticate/askPassword.php
MY_ACCOUNT_URL=https://www.contredanse.org/contredanseV4/templates/index.php?path=authenticate/login.php
SHOP_SUBSCRIPTION_URL=https://contredanse.org/product/material-for-the-spine-une-etude-du-mouvement-a-movement-study

# SOCIAL
SOCIAL_MEDIA_PICTURE=https://www.materialforthespine.com/static/social/mfts-social.jpg

