@import '../../../styles/variables';
@import '../../../styles/_media-queries.scss';

$button-icon-size: 24px;

// $color-hover: saturate(lighten($green, 10%), 20%);
// $color-active: desaturate(darken($green, 20%), 20%);

//$button-color-hover: desaturate(darken($green, 20%), 10%);
$button-color-hover: yellow;
//$button-color-active: fade-out($button-color-hover, 0.5);
$button-color-active: white;

$button-background: rgba(0, 0, 0, 0);
$button-icon-fill-color: rgba(255, 255, 255, 1);

//$button-border: 2px solid yellow;
$button-border: 0px solid rgba(255, 255, 255, 0.2);

$button-padding: 0px;
$button-margin: 0px;

$bg-gradient-color: black;

.app-bar-container {
    /*
    background: linear-gradient(
        to top,
        rgba($bg-gradient-color, 0.01) 0%,
        rgba($bg-gradient-color, 1) 50%,
        rgba($bg-gradient-color, 1) 100%
    );*/

    background-color: rgba(black, 0.9);

    width: 100%;
    padding: 10px 15px;
    vertical-align: top;
    // height: 100px;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    //border: 1px solid blue;

    display: flex;
    align-items: flex-start;

    //transition: opacity 600ms ease-in;

    &.hidden {
        opacity: 0.3;
        transition: opacity 300ms ease-in;
    }

    .app-bar-portal {
        opacity: 1;
        width: 100%;
        flex: 1 1;
        display: flex;
        transition: opacity 600ms ease-in;

        text-shadow: 1px 1px 1px rgba(black, 0.4);
        font-size: 1.2em;
        font-weight: 500;
        color: rgba(white, 0.9);

        div {
            &:first-child {
                //flex: 1 0;
                display: flex;
                flex: 1 1;
            }
        }
    }

    .helix-menu-icon,
    .main-menu-icon {
        color: white;
        &:hover {
            svg {
                fill: $button-color-hover;
                transition: all 400ms ease-in-out;
                //transform: scale(3) rotate3d(0, 0, 1, 2080deg);
            }
        }
    }

    &.idle-mode {
        opacity: 0.9;

        .app-bar-portal {
            opacity: 0;
        }
        .main-menu-icon {
            opacity: 0.3;
        }
        .helix-menu-icon {
            opacity: 0;
        }
    }

    button {
        margin: $button-margin;
        padding: $button-padding;
        background: $button-background;
        border: $button-border;
        //border-radius: 100%;
        outline: none;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }

        &[disabled] {
            opacity: 0.5;
            pointer-events: none;
        }

        &.isEnabled {
            cursor: pointer;

            &:hover {
                border-color: $button-color-hover;

                svg.mdi-icon {
                    fill: $button-color-hover;
                }
            }

            &:active {
                border-color: $button-color-active;
                svg.mdi-icon {
                    fill: $button-color-active;
                }
            }
        }

        &.isActive {
            .mdi-icon {
                display: block;
                fill: #feff9a;
                //background: linear-gradient(#e66465, #9198e5);
                //background-color: rgba(yellow, 0.4);
            }
        }

        .mdi-icon {
            display: block;
            fill: $button-icon-fill-color;
        }
    }
}
