@import '../../../styles/variables';
@import '../../../styles/_media-queries.scss';

.login-menu-item-container {
    margin: 5px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
}
