@import '../../../styles/variables';
@import '../../../styles/_media-queries.scss';

.bm-menu {
    // border-right: 1px solid rgba(grey, 0.8);
    background-color: black;

    .bm-overlay {
        background: rgba(0, 0, 0, 0.8);
    }

    .language-selector-menu {
        z-index: -1;
        position: fixed;
        top: 0;
        right: 0;
    }

    .side-menu-footer {
        z-index: -1;
        position: fixed;
        bottom: 0;
        right: 0;
        // width: calc(100vw - 200px);
        width: 100vw;
        border-bottom: 1px solid rgba(grey, 0.8);
        display: flex;
        opacity: 0.99;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 5px;
        padding-top: 15px;
        background-color: rgba(black, 0.8);
        font-size: 1em;
        div {
            margin: 5px;
            flex: 1 1;
            text-align: center;
            img {
                width: 40px;
                //border: 1px solid green;
            }
        }
    }

    .side-menu-item {
        display: block;
        //border-top: 1px solid rgba(grey, 0.8);
        border-bottom: 1px solid rgba(grey, 0.8);
        border-right: 1px solid rgba(grey, 0.8);
        padding: 15px;
        font-size: 1.5em;

        &.key-menu {
            background-color: blue;
        }

        &:link {
            text-decoration: none;
        }

        &:visited {
            color: white;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(grey, 0.4);
            color: yellow;
        }
    }
}
