@import '../../../styles/variables';
@import '../../../styles/_media-queries.scss';

//$topbar-height: 40px;

$topbar-height: $appbar-margin-from-window;

.bm-menu {
    // remove outline
    .bm-item:focus {
        outline: none;
    }

    font-family: $ui-font;

    // border-right: 1px solid rgba(grey, 0.8);
    background-color: black;

    &:first-child {
        margin-top: $topbar-height;
        border-top: 1px solid rgba(grey, 0.8);
    }

    .side-menu-item {
        display: block;
        //border-top: 1px solid rgba(grey, 0.8);
        border-bottom: 1px solid rgba(grey, 0.8);
        border-right: 1px solid rgba(grey, 0.8);
        padding: 10px;
        font-size: 1.125em;

        @include media-breakpoint-down(sm) {
            font-size: 1.05em;
            padding: 10px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.3em;
            padding: 15px;
        }

        &.key-menu {
            // background-color: blue;
        }

        &:link {
            text-decoration: none;
        }

        &:visited {
            color: white;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(grey, 0.4);
            color: yellow;
        }
    }
}

.side-menu-footer {
    transition: opacity 1000ms ease-in-out;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 15px;
    background-color: rgba(black, 0.4);
    font-size: 1em;
    justify-content: center;
    align-items: center;

    &.open {
        display: flex;
        z-index: 1005;
        opacity: 1;
        flex-grow: 0;
        .side-menu-footer-center {
            flex: 0 0;
            z-index: 10000;
            flex-wrap: nowrap;

            .footer-logo-container {
                opacity: 1;
            }
        }
    }

    .side-menu-footer-center {
        bottom: 5px;
        left: 0;
        display: flex;
        margin: 5px;
        flex: 1 1;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        .footer-logo-container {
            text-align: center;
            opacity: 0.2;
            white-space: nowrap;
            background-color: black;
            img {
                margin: 5px;
                width: 40px;
                &:hover {
                    cursor: pointer;
                }
            }
            .contredanse-text {
                display: block;
            }

            .contredanse-mini-text {
                display: none;
            }
        }
    }

    @media screen and (max-width: 650px) {
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        flex: 1 1 100%;
        .side-menu-footer-center {
            .footer-logo-container {
                margin-right: $appbar-margin-from-window-sm;
                text-align: center;
                img {
                    width: 25px;
                }
                .contredanse-text {
                    display: none;
                }
                .contredanse-mini-text {
                    display: block;
                }
            }
        }
    }

    .side-menu-footer-right {
        position: absolute;
        right: 0px;
        margin: 5px;
        //flex: 1 1;
        text-align: center;
        img {
            width: 40px;
            //border: 1px solid green;
        }

        @media screen and (max-height: 500px) {
            display: none;
        }
    }
}

.side-menu-header {
    .lang-selector-panel {
        position: fixed;
        right: 20px;
        top: 15px;
        color: white;
        font-size: 1em;
        cursor: pointer;
        user-select: none;
        z-index: 5500;
        &:hover {
            //text-decoration: underline;
            color: $link-hover-color;
        }
    }

    transition: opacity 600ms ease-in;
    //z-index: -1;
    &.open {
        background-color: black;
        display: flex;
        z-index: 10000;
        opacity: 1;
        visibility: visible;
    }
    &.closed {
        background-color: black;
        visibility: hidden;
        opacity: 0;
        //transform: translateX(-1000px);
    }
    //opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    //border-bottom: 1px solid rgba(grey, 0.8);
    width: 100vw;
    background-color: rgba(black, 0.8);
    padding: 5px;

    height: $topbar-height;

    .side-menu-header-inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        //border: 1px solid red;
        .side-menu-header-left {
            flex: 1 1;
            display: none;
            h2 {
                margin: 5px;
                line-height: 1em;
                //margin-left: 5px;
                display: inline-block;

                font-weight: 400;
                padding: 0;
                font-size: 1.3em;
                color: yellow;
            }
        }

        .side-menu-header-right {
            flex: 0 1;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            .lang-selector-panel {
                position: fixed;
                right: $appbar-margin-from-window;
                top: $appbar-margin-from-window;

                @include media-breakpoint-down(sm) {
                    right: $appbar-margin-from-window-sm;
                    top: $appbar-margin-from-window-sm;
                }
                margin: 0;
                color: white;
                font-size: 1em;
                cursor: pointer;
                user-select: none;
                z-index: 5500;
                &:hover {
                    //text-decoration: underline;
                    color: $link-hover-color;
                }
            }

            button {
                display: inline-block;
                //margin-top: 2px;
                background: #a93c99;
                box-shadow: 0 16px 18px 0 rgba(0, 0, 0, 0.13), 0 4px 6px 0 rgba(0, 0, 0, 0.16);
                border-radius: 2px;
                border: none;
                color: white;
                padding: 7px 10px;
                outline: none;
                cursor: pointer;
                opacity: 1;
                transition: all 150ms ease-in-out;
                text-decoration: none;

                &:visited {
                    text-decoration: none;
                }

                &:hover {
                    //text-decoration: underline;
                    filter: brightness(110%);
                }
            }
        }
    }
}
