@import '../../../styles/variables';
@import '../../../styles/_media-queries.scss';

$topbar-height: 40px;

.bm-menu {
    // border-right: 1px solid rgba(grey, 0.8);
    background-color: black;

    &:first-child {
        margin-top: $topbar-height;
        border-top: 1px solid rgba(grey, 0.8);
    }

    .side-menu-item {
        display: block;
        //border-top: 1px solid rgba(grey, 0.8);
        border-bottom: 1px solid rgba(grey, 0.8);
        border-right: 1px solid rgba(grey, 0.8);
        padding: 10px;
        font-size: 1.125em;

        @include media-breakpoint-down(sm) {
            font-size: 1.05em;
            padding: 10px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.3em;
            padding: 15px;
        }

        &.key-menu {
            // background-color: blue;
        }

        &:link {
            text-decoration: none;
        }

        &:visited {
            color: white;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(grey, 0.4);
            color: yellow;
        }
    }
}

.side-menu-footer {
    &.open {
        display: flex;
        z-index: 10000;
        opacity: 1;
        .side-menu-footer-center {
            .footer-logo-container {
                opacity: 1;
                //border: 1px solid red;
            }
        }
    }

    // safari
    /*
    &.closed {
        z-index: -1;
        opacity: 0;
        display: none;
    }*/

    transition: opacity 1000ms ease-in-out;
    z-index: -1;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    // width: calc(100vw - 200px);
    //width: 100vw;
    //border-bottom: 1px solid rgba(grey, 0.8);

    opacity: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
    background-color: rgba(black, 0.4);
    font-size: 1em;

    .side-menu-footer-center {
        //position: fixed;
        bottom: 5px;

        left: 0;
        display: flex;
        width: 100%;

        margin: 5px;
        //flex: 1 1;

        flex-direction: row;

        /*
        @include media-breakpoint-down(sm) {
            justify-content: flex-end;
            align-items: flex-end;
        }*/

        justify-content: center;
        align-items: center;
        .footer-logo-container {
            text-align: center;
            opacity: 0.2;
            img {
                margin: 5px;
                width: 40px;
                //border: 1px solid green;
            }
        }
    }

    .side-menu-footer-right {
        position: absolute;
        right: 0px;
        margin: 5px;
        //flex: 1 1;
        text-align: center;
        img {
            width: 40px;
            //border: 1px solid green;
        }
    }
}

.side-menu-header {
    transition: opacity 600ms ease-in;
    z-index: -1;
    &.open {
        background-color: black;
        display: flex;
        z-index: 10000;
        opacity: 1;
        visibility: visible;
    }
    &.closed {
        background-color: black;
        visibility: hidden;
        opacity: 0;
        //transform: translateX(-1000px);
    }
    //opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    //border-bottom: 1px solid rgba(grey, 0.8);
    width: 100vw;
    background-color: rgba(black, 0.8);
    padding: 5px;

    height: $topbar-height;

    .side-menu-header-inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        //border: 1px solid red;
        div {
            flex: 1 1;
            h2 {
                margin: 5px;
                line-height: 1em;
                //margin-left: 5px;
                display: inline-block;

                font-weight: 400;
                padding: 0;
                font-size: 1.3em;
                color: yellow;
            }
        }

        .side-menu-header-right {
            flex: 0 1;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            button {
                display: inline-block;
                //margin-top: 2px;
                background: #a93c99;
                box-shadow: 0 16px 18px 0 rgba(0, 0, 0, 0.13), 0 4px 6px 0 rgba(0, 0, 0, 0.16);
                border-radius: 2px;
                border: none;
                color: white;
                padding: 7px 10px;
                outline: none;
                cursor: pointer;
                opacity: 1;
                transition: all 150ms ease-in-out;
                text-decoration: none;

                &:visited {
                    text-decoration: none;
                }

                &:hover {
                    //text-decoration: underline;
                    filter: brightness(110%);
                }
            }
        }
    }
}
