@import '_variables.scss';
@import '../../../../styles/_media-queries.scss';

$bg-gradient-color: grey;
$max-controlbar-width: 2500px;

.control-bar-ctn {
    opacity: 1;
    transition: opacity $hide-animation-timeout ease-in;

    &.idle-mode {
        opacity: 0;
    }

    position: fixed;
    bottom: $controlbar-margin-from-window-bottom;
    left: $controlbar-margin-from-window;
    right: $controlbar-margin-from-window;

    @include media-breakpoint-down(sm) {
        left: $controlbar-margin-from-window-sm;
        right: $controlbar-margin-from-window-sm;
        bottom: $controlbar-margin-from-window-bottom-sm;
    }
    padding: 0;

    display: flex;

    flex-flow: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;

    &__progress-bar {
        width: 100%;
        max-width: $max-controlbar-width;
    }

    &__panel {
        //height: 30px;
        display: flex;
        flex: 1 1;
        width: 100%;
        max-width: $max-controlbar-width;
        button {
            width: 30px;
            height: 30px;
        }

        &__left {
            flex: 0;
            padding-right: 10px;
            justify-content: flex-start;
            align-items: center;
            background: linear-gradient(to top, rgba(black, 0.01) 0%, rgba(black, 0.4) 10%, rgba(black, 1) 100%);
            display: flex;
            button {
                &.ReplayButton,
                &.PlayButton,
                &.PauseButton {
                    margin: 10px;
                    width: 40px;
                    height: 40px;
                    opacity: 0.9;
                }
            }
            div {
                &.loading-button {
                    width: 40px;
                    height: 40px;
                    margin: 10px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        &__center {
            display: flex;
            flex: auto;
            align-items: center;
            justify-content: center;
        }
        &__right {
            flex: 0;
            button {
                width: 1.5em;
                margin: 0;
                margin-left: 15px;
                @include media-breakpoint-down(sm) {
                    margin-left: 10px;
                }
                svg.mdi-icon {
                    vertical-align: middle;
                    fill: rgba(white, 0.9);
                }
            }

            .playback-rate-select {
                margin-bottom: 3px;
            }

            background: linear-gradient(to right, rgba(black, 0.01) 0%, rgba(black, 0.4) 10%, rgba(black, 1) 100%);
            justify-content: flex-end;
            align-items: flex-end;
            display: flex;
        }
    }
}
